html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

footer,
header,
section{
	display: block;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

div,
li,
h1,
p {
	margin: 0;
	padding: 0;
}

h1{
	-webkit-font-variant-ligatures: common-ligatures;
	-moz-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	line-height: inherit;
}

.linha {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}

.linha:before,
.linha:after {
	content: "";
	display: table;
}

.linha:after {
	clear: both;
}

.linha .linha {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

[class*="col-"],
.bgrid {
	float: left;
}

[class*="col-"] + [class*="col-"].end {
	float: right;
}

[class*="col-"] {
	padding: 0 20px;
}

.coluna1 {
	width: 100%;
}
